.feynman__link {
  color: #2180ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  align-self: flex-end;
  transition: opacity 0.4s ease;
}
